/*
Theme: Dorothy de Long block theme
*/

.fa-solid,
.fa-regular,
.fa-brands {
    color: inherit;
}

/* Start closed */
.mobile-menu {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
}

/* When open */
.mobile-menu.open {
    max-height: 500px; /* something large enough */
    opacity: 1;
    transform: translateY(0);
}

.wp-block-navigation__container a {
    text-decoration: none !important;
    color: #000 !important;
    font-size: 1.25rem;       /* text-xl */
    font-weight: 300;         /* light */
    padding: 0.25rem 0;       /* subtle breathing room */
}
